body {
    overflow-x: hidden;
}

#kdGridTiposSubProductos {
    height: 100%;
}

#kdGridTiposProductos {
    height: 100%;
}

#kdGridPuestos {
    height: 100%;
}

#kdGridGruposProductos {
    height: 100%;
}

#kdGridSubGruposProductos {
    height: 100%;
}

#kdGridProductos {
    height: 100%;
}
